.container{
    margin-top: 10vh;
    min-width: 100%;
    min-height: 90vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
}
.e-title{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 40px 10px 40px 10px;
}
.cards{
    min-width: 100%;
    border: 1px rgba(130, 126, 126, 0.452) solid;
    border-radius: 20px;
    margin:3vh 0 3vh 0;
    padding: 30px 20px;
    background:linear-gradient(160deg,rgb(90, 65, 255),rgba(187, 99, 255, 0.74),rgba(185, 99, 255, 0.74),rgb(97, 65, 255));
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: auto;
}
@media only screen and (max-width:800px)
{
    .container{
        padding: 10px;
    }
    .cards{
        padding: 3vh;
    }
}