.div{
    position:relative;
    top: 10vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    padding-top: 18vh;
    background-image: url(../../assets/contact.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(212, 212, 212, 0.444);
}
.left{
    display: flex;
    flex-flow: column wrap;
    gap: 25px;
    width: 28vw;
    align-items: flex-start;
}
.left>h1{
    display: none;
}
.right{
    width: 30vw;
    height: fit-content;
    background-color: rgba(106, 0, 255, 0.633);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 15px 15px 40px #9a40dfe1;
    margin:0 0 10% 0;
    transition: all ease-in-out 0.2s;
}
.right:hover,.right:active{
    border-bottom: 8px solid rgb(0, 0, 0);
}
.form{
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}
.input,.textarea{
    background-color: antiquewhite;
}

input[type="text"], input[type="email"], textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
    background-color: antiquewhite;
    margin-bottom: 20px;
    color: black;
}

.disable{
    cursor: not-allowed;
    background-color: rgba(110, 110, 110, 0.697);
}
.button{
    width: 30%;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    transition: all ease-in-out 0.3s;
}
.button:hover, .button:active{
    border: 1px white solid;
    cursor: pointer;
}
.button:active{
    transform: scale(80%);
}
.p{
    font-size: 24px;
    font-weight: 500;
}
@media only screen and (max-width: 800px) {
    .div{
        top:0;
        padding-top: 13vh;
        background-image: none;
    }
    .left{
        width: 90vw;
        height: auto;
        justify-content: center;
    }
    .left>h1{
        font-size: 40px;
        display: block;
    }
    .left>div{
        font-size: 20px;
    }
    .right{
        width: 90vw;
    }
}